body::-webkit-scrollbar {
  width: 12px;/* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #212121;/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #616161;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #212121;  /* creates padding around scroll thumb */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 100%;
  padding: 2rem 1rem;
  color: #fff;
}
video {
	max-width: 95%;
	min-height: 50vh;
	max-height: 70vh;
	border: 5px double #616161;
  /*glass effect on video*/
  background: linear-gradient(to bottom left, 
    rgba(100,100,100,0.1),
    rgba(255,255,255,0.1),
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.3) 20%,
    rgba(255,255,255,0.4) 25%,
    rgba(255,255,255,0.5) 30%,
    rgba(255,255,255,0.4) 35%,
    rgba(255,255,255,0.3) 40%,
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.1),
    rgba(100,100,100,0.1)
    );
}
h3 {
	margin: 0.2rem;
}

#vidSlctBtn {
  overflow: hidden;
  max-width: 300px;
}